<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New User", new_user_path, class: "btn btn-primary" %>
    </div>
    <h2>Hungry Hungry Users</h2>
  </div>

  <% @users.order('last_name ASC').all.each do |user| %>
    <dl class="dl-horizontal">
      <p>
        <dt> </dt>
        <dd><h4><%= link_to "#{user.fnln}", user_path(user)%></h4></dd>
        <dt>Email:</dt>
        <dd><%= user.email %></dd>
        <dt>Likes:</dt>
        <dd><%= user.likes %></dd>
        <dt>Dislikes:</dt>
        <dd><%= user.dislikes %></dd>
      </p>
  <% end %>

</div>
