<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default"%>
      <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
    <h1>Details for <%= @user.fnln %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= "#{@user.first_name} #{@user.middle_name} #{@user.last_name}" %></dd>
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
    <dt>Likes:</dt>
    <dd><%= @user.likes %></dd>
    <dt>Dislikes:</dt>
    <dd><%= @user.dislikes %></dd>
  </dl>

  <h2><%= @user.first_name %>'s reviews</h2>
  <% @user.reviews.each do |review| %>
    <%= link_to "#{review.restaurant.name}", restaurant_path(review.restaurant) %>
    <%= review.rating %>
    <%= review.body %>
  <% end %>

</div>
