<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-default" %>
    </div>
    <h1>Restaurants</h1>
  </div>

  <% @restaurants.each do |restaurant| %>
    <dl class="dl-horizontal">
      <div class="pull-right">
        <%= link_to "Review this Restaurant", new_restaurant_review_path(restaurant), class: "btn btn-default" %>
      </div>
      <dd><h3><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h3></dd>
      <dt>Address:</dt>
      <dd><%= restaurant.address %></dd>
      <dt>Phone number:</dt>
      <dd><%= restaurant.phone_number %></dd>
      <dt>Hours:</dt>
      <dd><%= restaurant.hours %></dd>
      <dt>Website:</dt>
      <dd><%= link_to "#{restaurant.website}", "http://#{restaurant.website}" %></dd>
      <dt>Description:</dt>
      <dd><%= restaurant.description %></dd>
      <p><hr></p>
  <% end %>

</div>
