<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-info" %>
    </div>
    <h1>Restaurants</h1>
  </div>
  <%   %>
  <% @restaurants.order('name ASC').all.each do |restaurant| %>
    <h4><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h4><br>
    <%= restaurant.address %><br>
    <%= restaurant.phone_number %><br>
    <%= restaurant.hours %><br>
    <%= link_to "#{restaurant.website}", "http://#{restaurant.website}" %><br>
    <%= restaurant.description %><br><hr>
  <% end %>

</div>
