<div class="container">

  <div class="page-header">
    <h1>Reviews</h1>
  </div>

  <% @restaurants.each do |restaurant| %>
    <div class="row">

      <div class="col-md-12">
        <h3><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
          <div class="pull-right">
            <%= link_to "Review this Restaurant", new_restaurant_review_path(restaurant), class: "btn btn-default" %>
          </div>
        </h3>
      </div>

      <% restaurant.reviews.each do |review| %>
      <div class="col-md-12">

        <p><h5><%= link_to "#{review.header}", review_path(review)%></h5></p>
        <% if review.user %>
          <p>by: <%= review.user.fnln %></p>
        <% end %>
        <p><%= review.rating %></p>
        <p><%= review.body %></p>
      </div>
      <% end %>
    </div>
    <hr>
  <% end %>

</div>
