<!DOCTYPE html>
<html>
<head>
  <title>fgCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= 'homepage' if current_page?'/' %>">
  <!-- current_page? ? 'omepage' : 'other' -->

  <nav class="navbar navbar-static-top semi-opaque">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          fCamp
        </a>
      </div>

      <ul class="nav navbar-nav  navbar-right">
        <% if current_user %>
          <li>
            <%= link_to "#{current_user.first_name} #{current_user.last_name}", current_user %>
          </li>
          <li>
            <%= link_to "Sign Out", sign_out_path %>
          </li>
        <% else %>
        <div class="navbar-right">
          <form id="sign-in" method="post" action="/sign-in" class="navbar-form" role="form">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" autofocus>
            </div>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
            <%= link_to "Register", sign_up_path, class: "btn btn-default" %>
          </form>
        </div>
          <!-- <%= form_tag sign_in_path, method: "post" do %>
            <%= label_tag :email %>
            <%= email_field_tag :email %>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <%= submit_tag 'Log In', class: "btn btn-default btn-lg"%>
          <% end %> -->

        <% end %>
      </ul>

    </div>
  </nav>

<!-- stick your flash notice container here  -->

  <%= yield %>

  <div class="container">
    <footer>
      <hr>
      <div class="text-center btn-toolbar pad-bottom-20 div-center" role="toolbar" aria-label="...">

        <div class="btn-group btn-group-lg pad-sides" role="group" aria-label="...">
          <%= link_to 'About', about_path, class: "btn btn-default semi-opaque" %></button>
          <%= link_to 'Terms', terms_path, class: "btn btn-default semi-opaque" %></button>
          <%= link_to 'FAQ', faq_path, class: "btn btn-default semi-opaque" %></button>
        </div>

        <div class="btn-group btn-group-lg pad-sides" role="group" aria-label="...">
          <%= link_to 'Users', users_path, class: "btn btn-default semi-opaque" %>
        </div>

        <div class="btn-group btn-group-lg pad-sides" role="group" aria-label="...">
          <%= link_to 'Restaurants', restaurants_path, class: "btn btn-default semi-opaque" %>
          <%= link_to 'Reviews', reviews_path, class: "btn btn-default semi-opaque" %>
          <%= link_to 'Quotes', quotes_path, class: "btn btn-default semi-opaque" %>
        </div>

      </div>
    </footer>
  </div>

</body>
</html>
